<%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
<h1>ALL Visible Widgets</h1>
<%= paginate @widgets %>
<% @widgets.each do |widget| %>
<%= widget['name']%>
<%= widget['description']%>
<%= widget['user']['name']%>
<% end %>